@import "./layout/index.scss";

.container {
  max-width: 1174px;
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  font: var(--font-13-regular);
  color: var(--color-white);
  text-decoration: none;
  transition: 0.2s ease;
  list-style: none;

  &:hover {
    color: var(--color-blue-link);
  }

  &:active {
    opacity: 0.7;
  }
}

h1,
h2,
p {
  margin: 0;
}